services:
  app:
    build: .
    ports:
      - 8080:8080
    depends_on:
      mysql-db:
        condition: service_healthy

  mysql-db:
    image: mysql
    environment:
      MYSQL_ROOT_PASSWORD: root-password
      MYSQL_USER: master
      MYSQL_PASSWORD: password
      MYSQL_DATABASE: project-movie
    volumes:
      - ./database:/var/lib/mysql
      - ./ddl.sql:/docker-entrypoint-initdb.d/ddl.sql:ro
    ports:
      - 3306:3306
    healthcheck:
      test: ["CMD", "mysqladmin", "ping"]
      interval: 10s
      retries: 5
